################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MongoDBDeveloperExamPlayground/obj
/MongoDBDeveloperExamPlayground/appsettings.json
